<section ng-controller="ProductsListController as vm">
  <div class="page-header">
    <h1>Products</h1>
  </div>
  <div>
    <a class="btn btn-primary" ui-sref="products.create">
      New Product
    </a>
  </div>
  <div>
    <form class="form-search form-inline">
      <input type="text" class="form-control search-query" placeholder="Search Sku" ng-model="searchSku" />
    </form>
  </div>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sku</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Available Stock Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-if="vm.products=='undefined' || vm.products=='null' || vm.products.length === 0">
        <td> No data available </td>
      </tr>
      <tr ng-show="vm.products!='undefined' && vm.products!='null'" ng-repeat="product in vm.products | filter:{sku:searchSku}">
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{product.sku}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
      </tr>
    </table>
  </div>
  <div ui-view="editView">

  </div>
</section>
